<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.floridapoly.alex.cryptocurrency">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconars"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconars"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.APP_MARKET" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="min-api.cryptocompare.com"
                    android:pathPrefix="/data"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopWindow"
            android:theme="@style/AppTheme.customTheme" />

        <service
            android:name=".service.CryptoCompareServiceDisplay"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.CryptoTimestampCallback"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>